PORT=3000
FRONTEND_URL=http://localhost:4200
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:4202
EMAIL_FROM=Pharma Flow Support <support@pharma-uci.com>
RESEND_API_KEY=xxxx
JWT_SECRET=xxxx
SUPABASE_URL=xxxx
SUPABASE_ANON_KEY=xxxx
SUPABASE_SERVICE_ROLE_KEY=xxxx
SUPABASE_DB_URL=xxxx
DATABASE_URL=xxxx
